.rodapes{
    background-color: rgb(48, 8, 8);
    align-items: center;
    height: 100px;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    height: 100%;
    display: grid;
    text-align: center;
    padding: 40px;
}