.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; /* Ajuste o espaço entre os elementos conforme necessário */
    padding: 50px; /* Ajuste o preenchimento conforme necessário */
}

.card {
    background-color: #e2e2e2;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
}
.botaoContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
.button {
    font-size: 14px;
    padding: 8px 12px;
    background-color: #920000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #920000;
}
.pesquisa {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff7f7;
    border-radius: 5px;
    box-sizing: border-box;
}
.pesquisaContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
